html {
    font-size: calc(1vw / 19.2);
    scroll-behavior: smooth;
    transition: all 1s ease;
}

.main-title {
    font-family: Georgia, sans-serif;
    font-size: 4vw;
    font-weight: 400;
}

.meme-title {
    font-family: Georgia, sans-serif;
    font-size: 3vw;
    color: royalblue;
    font-weight: 400;
    padding-left: 20rem;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.bayan-container {
    margin: 20rem 0;
}

.bayan-body {
    display: flex;
    justify-content: center;
    width: calc(100% - 20rem);
    margin: 0 auto;
    height: 0;
    background-color: #206876;
    padding: 0;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s, opacity 1s;
    overflow: hidden;
    opacity: 0;

}

img {
    align-items: center;
    max-width: 100%;
    height: auto;
}

.bayan-container label {
    background-color: #015666;
    display: block;
    padding: 15rem 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 5rem;
}


.bayan-container:hover .meme-title { /*for desktop*/
    color: black;
}

.meme-input:hover ~ .bayan-body {
    transition: all 1s;
    height: auto;
    margin-top: -5rem;
    padding: 20rem 30rem 10rem;
    opacity: 1;
}


.meme-input {
    display: none;
}

.meme-input:checked + .meme-title {
    color: black;
}

.meme-input:checked ~ .bayan-body {
    height: auto;
    margin-top: -5px;
    padding: 20rem 30rem 10rem;
    opacity: 1;
    transition: all 0.5s;
}


@media (min-width: 820px) and (max-width: 1919px) {
    .main-title {
        font-size: 5vw;
    }

    .meme-title {
        font-size: 4vw;
    }

    .wrapper {
        width: 90%;
    }

}

@media (min-width: 321px) and (max-width: 820px) {
    .main-title {
        font-size: 5vw;
    }

    .meme-title {
        font-size: 4vw;
    }

    .wrapper {
        width: 90%;
    }

}

@media (max-width: 320px) {
    .main-title {
        font-size: 6vw;
    }

    .meme-title {
        font-size: 5vw;
    }

    .wrapper {
        width: 90%;
    }

}


@media (hover: hover) {
    /* when hover is supported */
    .meme-label:hover {
        cursor: pointer;
    }
}